
    /* Make the image fully responsive */
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .carousel-inner img {
      width: 100%;
      height: 500px;
      align-items: center;
      justify-content: center;
    }
    section p
    {
        margin-top: 20px;
        line-height: 30px;
        padding: 20px;
    }
    header
    {
        display: flex;
        justify-content: center;
    }
    header img
    {
        height: 80px;
        width: 80px;
    }
    h1
    {
      text-align: center;
      font-family: pt serif;
      font-weight: 600;
      letter-spacing: 4.5px;
      font-size: 50px;
      padding: 10px;
    }
    .container-1
    {
        width: 90%;
        height: 400px;
        padding: 20px;
        text-align: center;
        margin-left: 50px ;
        border-radius: 10px;
        box-shadow: 0 0 5px grey;
        display: flex;
        flex-direction: row;
        position: relative;
    } 
    .container-1 p
    {
      height: 110px;
      overflow: hidden;
    }
    .button
    {
      display: none;
    }
    .text h2
    {
        font-size: 30px;
        text-align: left;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 20px;
    }
    .text p
    {
      text-align: left;
      margin-left: 20px;
      padding: 15px;
    }
  
    .container-1 img
    {
      height: 345px;
      margin: 10px;
      width: 300px;
    }
    section hr
    {
      opacity: 0;
    }
    .visit a
    {
      padding: 10px;
      text-decoration: none;
      border-radius: 30px;
      background-color: goldenrod;
      color: black;
      font-size: 18px;
      font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
      
    }
    .visit
    {
      justify-content: left;
      text-align: left;
      /* width: 200px; */
      margin-left: 25px;
      margin-top: 0;
    }
    .visit i
    {
      margin-right: 5px;
    }
    .visit a:hover
    {
      background-color: black;
      color: cornsilk;
    }
    .text
    {
      /* position: absolute; */
      width: fit-content;
      height: fit-content;
    }
    footer {
        width: 100%;
        background-color: #26272b;
      }
      hr {
        opacity: 0.3;
      }
      .section-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 0;
      }
      .article1 {
        width: 40%;
        padding: 10px;
      }
      .article1 h2 {
        color: white;
        text-transform: uppercase;
        font-size: 18px;
      }
      .article1 p {
        text-align: justify;
        color: grey;
        line-height: 22px;
        margin-top: 10px;
      }
      .article2 h2 {
        color: white;
        text-transform: uppercase;
        font-size: 18px;
      }
      .article2 ul {
        list-style: none;
        margin-top: 10px;
      }
      .article2 ul li {
        padding: 5px;
      }
      .article2 ul li a {
        text-decoration: none;
        color: grey;
      }
      .article2 ul li a:hover {
        color: goldenrod;
      }
      i {
        color: grey;
        font-size: 20px;
        margin-right: 10px;
      }
      .section-2 {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .section-2 p {
        text-align: center;
        color: grey;
        line-height: 40px;
        margin-top: 10px;
        font-size: 20px;
      }
      .section-2 a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        background-color: red;
        border-radius: 20px;
        margin-left: 10px;
      }
      .section-2 a:hover {
        background-color: goldenrod;
      }
      .section-3 {
        height: 100px;
        display: flex;
        justify-content: center;
        padding: 20px 10px;
      }
      .section-3 ul {
        list-style: none;
      }
      .section-3 ul li {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: grey;
        border-radius: 50%;
        padding: 20px;
        margin-right: 20px;
      }
      .section-3 ul li i {
        color: white;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
      }
      .section-3 ul li:nth-child(1):hover {
        background-color: #3b5999;
      }
      .section-3 ul li:nth-child(2):hover {
        background-color: #55acee;
      }
      .section-3 ul li:nth-child(3):hover {
        background-color: #dd4b39;
      }
      
      
      .section-3 ul li:nth-child(4):hover {
        background-color: #ea4c89;
      }
      .section-4 {
        display: flex;
        background-color: black;
        height: 70px;
        justify-content: center;
        align-items: center;
        padding: 20px;
      }
      .section-4 p {
        color: grey;
        position: relative;
      }
      .section-4 p::after {
        display: block;
        width: 0;
        content: "";
        height: 2px;
        background-color: yellow;
        position: absolute;
        right: 0;
        bottom: -10px;
        transition: 0.5s;
      }
      .section-4 p:hover::after {
        width: 100%;
      }
      .section-4 a {
        text-decoration: none;
        color: grey;
      }
      .section-4 a:hover {
        color: goldenrod;
      }
      
    